body { font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 100%;
    color: black;
    background-color: white; }

a { font-weight: bold;
    text-decoration: none; }

a:link { color: blue;
    text-decoration: none; }

a:visited { color: purple;
    text-decoration: none; }

a:hover, a:focus { color: red;
    text-decoration: none; }

ul { }

h1 { }

p { }

header, nav, main, section, article, aside, footer { background-color: white; }

table, th, td { border: 1px solid black;
    border-collapse: collapse;
    margin-left: 2em;
    margin-top: 2em; }

#navbar{
 		width: 100%; }

#navbar ul li {
		list-style-type: none; }

#navbar ul {
		padding-left: 3px;
		margin-left: 0; }

#navbar li {
		display: inline;
		background-color: #c8c8c8;
	 	padding: .5em	;
		border: 1px solid; }

#product {
		padding: 1em;
	 	padding-left: 5em; }

#product-img {
		margin-left: 0;
		float: left; }

#product-desc {
		padding-left: 1em; }

#product-img img {
		width: 100px; }

.wrapper{ text-align: center; }

.clear { clear: both; }
